.container {
    margin: 5%;
}

.post {
    display: grid;
    grid-template-columns: 0.5fr 2.5fr;
    grid-template-rows: 0fr 1fr 0fr;
    grid-auto-columns: 1fr;
    grid-auto-flow: row dense;
    grid-template-areas:
        "image header"
        "image textbox"
        "image tags"; 
    width: 100%;
    min-height: 15vmax;
    background: rgb(37, 42, 46);
    margin-bottom: 1%;
    border-radius: 10px;
  }
  
.image {
    width: 25vmax;
    height: 100%;
    grid-area: image; 
    border-radius: 10px 0px 0px 10px;
    object-fit: cover;
}
  
.header { 
    margin: 1%;
    grid-area: header; 
}
  
.textbox {
    margin: 0 1%;
    grid-area: textbox;
}

.textbox a {
    color: white;
}

.tags {
    width: 100%;
    display: inline;
    align-self: flex-end;
    margin: 0 1%;
}

.tag {
    color: rgba(255, 255, 255, 0.75);
    margin-bottom: 0.5%;
    height: auto;
    padding: 0 2% 0 1%;
    display: inline-block;
    text-align: center;
    border-radius: 10px;
    background: rgba(45, 48, 53, 0.6);
}

@media only screen and (min-width: 1920px), only screen and (min-device-width: 1920px){ 

    .container {
        display: flex;
        justify-content: space-between;
    }

    .post {
        width: 30%;
        margin: 1%;
        border-radius: 15px;
        grid-template-columns: 1fr;
        grid-template-rows: 0fr 0fr 0fr;
        grid-auto-columns: 1fr;
        grid-auto-flow: row dense;
        grid-template-areas:
        "image"
        "header"
        "textbox"
        "tags";
    }

    .image {
        border-radius: 15px 15px 0px 0px;
        width: 100%;
        height: 15vmax;
    }

    .tags {
        
        margin-left: 1%
    }

    .tag {
        border-radius: 25px;
        padding: 0 3%;
    }

    .textbox, .date, .header {
        margin: 1% 3%;
    }

    .tags {
        margin-bottom: 1%;
    }
}

@media only screen and (max-width: 1366px), only screen and (max-device-width: 1366px) {

    .post {
        grid-template-columns: 0.5fr 6.5fr;
        grid-template-rows: 0fr 0fr;
    }

    .image {
        height: 100%;
    }

    .textbox {
        margin-bottom: 1%;
    }
}

@media only screen and (max-width: 1024px), only screen and (max-device-width: 1024px) {

    .post {
        margin-bottom: 3%;
        border-radius: 15px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0fr;
        grid-auto-columns: 1fr;
        grid-auto-flow: row dense;
        grid-template-areas:
        "image"
        "header"
        "textbox"
        "tags";
    }

    .image {
        border-radius: 15px 15px 0px 0px;
        width: 100%;
        height: 45vmax;
    }

    .tags {
        margin-bottom: 1%;
        margin-left: 1%;
    }

    .tag {
        border-radius: 25px;
        padding: 0 2%;
    }
}

@media only screen and (max-width: 768px), only screen and (max-device-width: 768px) {

    .post {
        margin-bottom: 5%;
        border-radius: 15px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0fr;
        grid-auto-columns: 1fr;
        grid-auto-flow: row dense;
        grid-template-areas:
        "image"
        "header"
        "textbox"
        "tags";
    }

    .image {
        border-radius: 15px 15px 0px 0px;
        width: 100%;
        height: 35vmax;
    }

    .tags {
        font-size: 2.5em;
    }

    .tag {
        border-radius: 25px;
        padding: 0 3%;
    }

    .header {
        font-size: 3.5em;
        margin: 0 3%;
    }
    .textbox {
        font-size: 2.5em;
        margin: 0 3%;
    }
}