.container {
    margin: 5%;
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    grid-template-rows: 0.1fr 0.1fr 0fr;
    grid-auto-columns: 1fr;
    grid-auto-flow: row dense;
    grid-template-areas:
      "avatar about"
      "nickname about"
      "shorts links";
}
  
.about { 
    grid-area: about; 
    margin: 0 5%;
}

.about a {
    color: var(--main-color);
}
  
.links { 
    justify-content: space-evenly;
    grid-area: links;
    display: flex;
    flex-flow: row nowrap;
    padding: 0 5%;
    flex-wrap: wrap;
    align-items: flex-end;
}

.link {
    font-size: 4em;
    display: inline;
    color: var(--main-color);
}

.link:hover {
    color: var(--secondary-color);
}
  
.avatar { 
    grid-area: avatar; 
    margin: auto;
}

.avatar > img {
    object-fit: cover;
    border-radius: 20px;
    width: 20vmax;
    height: 20vmax;
    border: 2px solid var(--secondary-bg);
    background: var(--additional-bg);
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

.shorts { 
    display: block;
    white-space: pre-line;
    margin: 0 auto;
    
}

.shorts a {
    color: var(--main-color);
    cursor: pointer;
    text-decoration: none;
}

.shorts a:hover {
    color: var(--secondary-color);
}

.nickname { 
    grid-area: nickname; 
    font-size: 3em;
    text-align: center;
    font-weight: bold;
}

.box {
    z-index: 1;
    top: 0;
    margin: -5%;
    position: fixed;
    width: 100%;
    height: 125%;
    background: var(--box-bg);
    visibility: hidden;
}

.rv {
    user-select: none;
    margin: 15% auto;
    width: 40%;
    height: auto;
    background: var(--main-bg);
    border-radius: 10px;
    min-height: 15vmax;
}

.rv-header {
    min-height: 12vmax;
    height: auto;
    flex-direction: column;
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    border-radius: 10px 10px 0 0;
    background: var(--secondary-bg);
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(var(--box-bg), var(--box-bg)), url("https://autumn.revolt.chat/backgrounds/-2ROOBvcbMediTIukgPuG7XfZUK5D8Tsm1d8s750rW");
}

.rv-avatar {
    object-fit: cover;
    width: 6vmax;
    height: 6vmax;
    border-radius: 50%;
}

.rv-profile {
    display: flex; 
    align-items: center;
    gap: 3%;
    padding: 4%;
}

.rv-nickname {
    font-size: 1.5em;
    font-weight: bold;
}

.rv-close {
    padding: 1%;
    font-size: 1.75em;
    color: var(--additional-color);
}

.rv-close:hover {
    color: var(--additional-color);
}

.rv-details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.rv-tabs { 
    display: flex;
    gap: 3%;
    padding: 0 3%;
}

.rv-tabs span {
    border-bottom: 1.5px solid;
    text-align: center;
    font-size: 1.1em;
    padding: 1% 2.5%; 
}

.rv-footer {
    min-height: 5vmax;
    padding: 4%; 
}

.rv-cat {
    color: var(--non-main-color);
    font-size: 0.8em;
    text-transform: uppercase;
    padding: 0.5% 0;
}

.rv-badges {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap: 1.5%;
    padding: 1% 0;
}

.rv-info {
    padding: 1% 0;
}

.rv-info a {
    color: var(--secondary-color);
}

.rv-info a:hover {
    color: var(--main-color);
}

.rv-badges img, svg {
    width: 2vmax;
    gap: 20%;
}

@media only screen and (min-width: 1800px), only screen and (min-device-width: 1800px) {
    .container {
        width: 60%;
        margin: 5% auto;  
    }

    .line {
        width: 40%;
    }

    .avatar img {
        width: 15vmax;
        height: 15vmax;
    }
}


@media only screen and (max-width: 1024px), only screen and (max-device-width: 1024px) {

    .container {
        grid-template-columns: auto;
        grid-template-areas:
        "nickname"
        "avatar"
        "about"
        "shorts"
        "links";
    }

    .about {
        margin: 3% 0;
        font-size: 2em;
    }

    .avatar > img { 
        width: 50vmax;
        height: 50vmax;
        border-radius: 15px;
    }
 
    .nickname {
        text-align: center;
        font-size: 5em;
    }

    .shorts {
        margin: 0;
        font-size: 2em;
    }

    .links {
        margin-top: 5%;
    }

    .link {
        font-size: 10vw;
    }


    .box { 
        width: 100%;
        position: fixed;
    }

    .rv {
        border-radius: 25px;
        width: 95%;
        min-height: 45vmax;
        margin-top: 5%;
    }

    .rv-header {
        border-radius: 25px 25px 0 0;
        min-height: 20vmax;
        height: auto;
    }

    .rv-nickname {
        font-size: 3em;
    }

    .rv-status {
        font-size: 2.5em;
    }

    .rv-close {
        font-size: 3.5em;
    }

    .rv-avatar {
        width: 10vmax;
        height: 10vmax;
    }

    .rv-badges img, svg{
        width: 3vmax;
    }


    .rv-tabs span {
        font-size: 2em;
    }

    .rv-cat {
        font-size: 1.75em;
    }

    .rv-info {
        font-size: 2em;
    }
}

@media only screen and (max-width: 768px), only screen and (max-device-width: 768px) {

    .container {
        grid-template-columns: auto;
        grid-template-areas:
        "nickname"
        "avatar"
        "about"
        "shorts"
        "links";
    }

    .about {
        margin: 3% 0;
        font-size: 1.25em;
    }

    .avatar > img { 
        width: 90vw;
        height: 90vw;
        border-radius: 15px;
    }
 
    .nickname {
        text-align: center;
        font-size: 5em;
    }

    .shorts {
        font-size: 1.25em;
    }

    .links {
        margin-top: 5%;
    }

    .link {
        font-size: 10vw;
    }

    .box { 
        width: 100%;
        position: fixed;
    }

    .rv {
        border-radius: 25px;
        width: 95%;
        min-height: 45vmax;
        margin-top: 35%;
    }

    .rv-header {
        border-radius: 25px 25px 0 0;
        min-height: 22vmax;
        height: auto;
    }

    .rv-nickname {
        font-size: 4.5em;
    }

    .rv-close {
        font-size: 3.5em;
    }

    .rv-avatar {
        width: 12vmax;
        height: 12vmax;
    }

}