.navigation a {
    color: white;
    letter-spacing: 1.5px;
    text-decoration: none;
    background: rgb(27, 31, 34);
    padding: 1vmax 0;
    display: inline-block;
    width: 100%;
    text-align: center;
}
 
.navigation a:hover {
    background: rgba(27, 31, 34, 0.5);
}
 
.navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
 
.navigation li {
    flex: 1;
}

.navigation .user {
    flex: 8; 
    background: rgb(27, 31, 34);
}

.user a {
    position: absolute;
    right: 0;
    width: 10%;
}

.user img {
    position: absolute;
    top: 50%;
    transform: translate(-25%, -50%);
    object-fit: cover;
    width: 2vmax;
    height: 2vmax;
    background: white;
    margin: 0 -25%;
    border-radius: 5px;
}

@media only screen and (max-width: 1024px), only screen and (max-device-width: 1024px) {
    
    .navigation ul {
        flex-wrap: wrap;
     }
     
    .navigation li {
        flex: 1 1 50%;
     }
  
    .navigation .user {
        flex: 1 50%;
     }
  
    .user a {
        width: 100%;
    }
    
    .user img {
        width: 5vmax;
        height: 5vmax;
        margin: 0 -3%;
    }
}

@media only screen and (max-width: 768px), only screen and (max-device-width: 768px) {

    .navigation ul {
        font-size: 3.5em;
        flex-wrap: wrap;
     }
     
    .navigation li {
        flex: 1 1 50%;
     }
  
    .navigation .user {
        margin-bottom: 10%;
        flex: 1 100%;
     }
  
    .user a {
        width: 100%;
    }
    
    .user img {
        margin: 0 -8%;
    }
}

