@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

.container {
    width: 60%;
    margin: 2% auto;
    background: rgb(36, 40, 43);
    padding: 2%;
    border-radius: 15px;
}
.content {
    height: 100vh;
    overflow: auto;
}

.title {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 5%;
}

.code {
    color: rgba(255, 255, 255, 0.85);
    counter-increment: line;
    content: counter(line);
    border-radius: 15px;
    white-space: pre-wrap;
    width: 100%;
    background: rgb(22, 24, 26);
    margin: 2% auto;
    padding: 0.5% 1%;
    font-family: 'PT Mono', monospace;
    font-size: 0.95em;
}

.code > span {
    color: rgba(255, 255, 255, 0.6);
    font-size: 0.75em;
    user-select: none;
    float: right;
    margin-right: 0.5%;
}

mark {
    background: rgba(83, 83, 83, 0.5);
    color: rgba(255, 255, 255);
    padding: 0 0.5%;
    border-radius: 5px;
}

.container > img {
    width: 75%;
    align-items: center;
    clear: right;

}