@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    background: rgb(33, 37, 41);
    font-family: 'Poppins', sans-serif;
    color: rgba(255, 255, 255, 0.9);
    margin: 0; 
}

body::-webkit-scrollbar {
    width: 0.25em;
    height: 0.25em;
}
   
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
   
body::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgb(92, 92, 92);
}

.navigation a {
    color: white;
    letter-spacing: 1.5px;
    text-decoration: none;
    background: rgb(27, 31, 34);
    padding: 1vmax 0;
    display: inline-block;
    width: 100%;
    text-align: center;
}
 
.navigation a:hover {
    background: rgba(27, 31, 34, 0.5);
}
 
.navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
 
.navigation li {
    flex: 1;
}

.navigation .user {
    flex: 8; 
    background: rgb(27, 31, 34);
}

.user a {
    position: absolute;
    right: 0;
    width: 10%;
}

.user img {
    position: absolute;
    top: 50%;
    transform: translate(-25%, -50%);
    object-fit: cover;
    width: 2vmax;
    height: 2vmax;
    background: white;
    margin: 0 -25%;
    border-radius: 5px;
}

/**/

.container {
    margin: 5%;
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    grid-template-rows: 0.1fr 0.1fr 0fr;
    grid-auto-columns: 1fr;
    grid-auto-flow: row dense;
    grid-template-areas:
      "avatar about"
      "nickname about"
      "shorts links";
}
  
.about { 
    grid-area: about; 
    margin: 0 5%;
}
  
.links { 
    justify-content: space-evenly;
    grid-area: links;
    display: flex;
    flex-flow: row nowrap;
    padding: 0 5%;
    align-items: center;
}

.link {
    font-size: 4em;
    display: inline;
    color: rgba(255, 255, 255, 0.8);
}

.link:hover {
    color: rgba(255, 255, 255, 0.6);
}
  
.avatar { 
    grid-area: avatar; 
    margin: auto;
}

.avatar > img {
    object-fit: cover;
    border-radius: 20px;
    width: 20vmax;
    height: 20vmax;
    border: 2px solid rgba(255, 255, 255, 0.75);
    background: white;
}
  
.line {
    border-radius: 2%;
    width: 60%;
    height: 1px;
    background: rgba(255, 255, 255, 0.75);
    position: absolute;
}

.shorts { 
    display: block;
    white-space: pre-line;
    margin: 0 auto;
    
}

.shorts > i {
    color: rgba(255, 255, 255, 0.45);
}
  
.nickname { 
    grid-area: nickname; 
    font-size: 3em;
    text-align: center;
    font-weight: bold;
}

@media only screen and (max-width: 1024px), only screen and (max-device-width: 1024px) {
    
    .navigation ul {
        
        flex-wrap: wrap;
     }
     
    .navigation li {
        flex: 1 1 50%;
     }
  
    .navigation .user {
        flex: 1 50%;
     }
  
    .user a {
        width: 100%;
    }
    
    .user img {
        margin: 0 -3%;
    }

    .container {
        grid-template-columns: auto;
        grid-template-areas:
        "nickname"
        "avatar"
        "about"
        "shorts"
        "links";
    }

    .about {
        margin: 3% 0;
        font-size: 2em;
    }

    .avatar > img { 
        width: 100%;
        height: auto;
        border-radius: 15px;
    }
 
    .nickname {
        text-align: center;
        font-size: 5em;
    }

    .shorts {
        margin: 0;
        font-size: 2em;
    }

    .links {
        margin-top: 5%;
    }

    .link {
        font-size: 10vw;
    }

}

@media only screen and (max-width: 768px), only screen and (max-device-width: 768px) {

    .navigation ul {
        font-size: 3.5em;
        flex-wrap: wrap;
     }
     
    .navigation li {
        flex: 1 1 50%;
     }
  
    .navigation .user {
        margin-bottom: 5%;
        flex: 1 100%;
        visibility: hidden;
     }
  
    .user a {
        width: 100%;
    }
    
    .user img {
        margin: 0 -3%;
    }

    .container {
        grid-template-columns: auto;
        grid-template-areas:
        "nickname"
        "avatar"
        "about"
        "shorts"
        "links";
    }

    .about {
        margin: 3% 0;
        font-size: 1.25em;
    }

    .avatar > img { 
        width: 100%;
        height: auto;
        border-radius: 15px;
    }
 
    .nickname {
        text-align: center;
        font-size: 5em;
    }

    .shorts {
        font-size: 1.25em;
    }

    .links {
        margin-top: 5%;
    }

    .link {
        font-size: 10vw;
    }
}